@{
    ViewBag.Title = "WebSiteSurvey";
}

<div class="jumbotron">
    <h1>WebSiteSurvey</h1>
    <p class="lead">Share your opinion and suggestions about how to improve our website experience!</p>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h2>Tell us your experience...</h2>
        <h4>Referrer: @ViewBag.Referrer</h4>
        <p>
            form goes here
        </p>
        <p>submit goes here</p>
    </div>
    <div class="col-md-2">

    </div>
</div>