USE [master]
GO
/****** Object:  Database [WebSiteSurvey]    Script Date: 16/02/2017 22:03:32 ******/
CREATE DATABASE [WebSiteSurvey]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebSiteSurvey', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\WebSiteSurvey.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebSiteSurvey_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\WebSiteSurvey_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebSiteSurvey].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebSiteSurvey]
GO
USE [WebSiteSurvey]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16/02/2017 22:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebSiteSurveys]    Script Date: 16/02/2017 22:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebSiteSurveys](
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ExperienceRating] [smallint] NOT NULL,
	[Suggestion] [nvarchar](max) NULL,
	[Referrer] [nvarchar](max) NULL,
	[SubmissionDate] [datetime] NOT NULL,
	[ResponseId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.WebSiteSurveys] PRIMARY KEY CLUSTERED 
(
	[ResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[WebSiteSurveys] ([Name], [Email], [Age], [Gender], [Country], [ExperienceRating], [Suggestion], [Referrer], [SubmissionDate], [ResponseId]) VALUES (N'Ricardo Melo Joia', N'ricardo.joia@gmail.com', 37, N'Male', N'Ireland', 5, N'All Grand', N'http://localhost:3315/ThankYou?Name=Ricardo Melo Joia&Email=ricardo.joia%40gmail.com&Age=37&Gender=Male&Country=Ireland&ExperienceRating=5&Suggestion=All Grand!&Referrer=unkown', CAST(N'2017-02-16T20:46:37.933' AS DateTime), N'aa6afbd3-7261-443d-a078-00ecb897a860')
INSERT [dbo].[WebSiteSurveys] ([Name], [Email], [Age], [Gender], [Country], [ExperienceRating], [Suggestion], [Referrer], [SubmissionDate], [ResponseId]) VALUES (N'Ricardo Melo Joia', N'ricardo.joia@gmail.com', 37, N'Male', N'Ireland', 5, N'all Grand', N'http://localhost:3315/ThankYou?Name=Ricardo Melo Joia&Email=ricardo.joia%40gmail.com&Age=37&Gender=Male&Country=Ireland&ExperienceRating=5&Suggestion=All Grand!&Referrer=unkown', CAST(N'2017-02-16T20:38:17.690' AS DateTime), N'a913b67d-0883-4be5-9991-0a44be3f71f8')
INSERT [dbo].[WebSiteSurveys] ([Name], [Email], [Age], [Gender], [Country], [ExperienceRating], [Suggestion], [Referrer], [SubmissionDate], [ResponseId]) VALUES (N'Ana Carina Marinho Nunes', N'anamarinhonunes@gmail.com', 40, N'Female', N'Ireland', 2, N'could be better', N'http://localhost:3315/Report', CAST(N'2017-02-16T21:33:13.907' AS DateTime), N'd2fb17c8-f0e6-4807-8fca-53af0d5f02e5')
ALTER TABLE [dbo].[WebSiteSurveys] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ResponseId]
GO
USE [master]
GO
